<div class="personal-info-container">
    <div class="section-header">
        <span><i class="ri-user-add-line"></i> Emergency Contact</span>
        <img src="../../../assets/Button.png" alt="">
    </div>

    <div class="info-grid">
        <div class="info-item">
            <span class="label">Name</span>
            <span class="value">John</span>
        </div>
        <div class="info-item">
            <span class="label">Contact Number</span>
            <span class="value">+91 8231861230</span>
        </div>
        <div class="info-item">
            <span class="label">Email ID</span>
            <span class="value">jhonjacob123.com</span>
        </div>
        <div class="info-item">
            <span class="label">Relationship</span>
            <span class="value">Father</span>
        </div>
        <div class="info-item">
            <span class="label">Name</span>
            <span class="value">John</span>
        </div>
        <div class="info-item">
            <span class="label">Contact Number</span>
            <span class="value">+91 8231861230</span>
        </div>
        <div class="info-item">
            <span class="label">Email ID</span>
            <span class="value">jhonjacob123.com</span>
        </div>
        <div class="info-item">
            <span class="label">Relationship</span>
            <span class="value">Father</span>
        </div>
    </div>
</div>