<div class="header-wrapper container-fluid">
    <h2 class="name">👋 Hi Kevin!</h2>

    <div class="right-section d-flex align-items-center">
        <img src="../../../assets/Bell.png" alt="Notification" class="d-none d-md-block">

        <div class="profile-wrapper d-flex align-items-center">
            <img src="../../../assets/Avatar.png" alt="Profile">
            <div class="right-name">
                <h2>Kevin Harry</h2>
                <p>Admin</p>
            </div>
            <i class="ri-arrow-drop-down-line"></i>
        </div>
    </div>
</div>