<div class="banking-details-container">
    <div class="section-header">
        <span>
            <i class="ri-bank-card-line"></i> Banking Details
        </span>
        <div class="edit-button">
            <img src="../../../assets/Button.png" alt="Edit">
        </div>
    </div>

    <div class="details-box">
        <div class="detail-item">
            <span class="label">Bank Name</span>
            <span class="value">State Bank of India</span>
        </div>
        <div class="detail-item">
            <span class="label">Name as per Bank Record</span>
            <span class="value">Kevin</span>
        </div>
        <div class="detail-item">
            <span class="label">Account Number</span>
            <span class="value">1130289423</span>
        </div>
        <div class="detail-item">
            <span class="label">IFSC Code</span>
            <span class="value">SBIN002151</span>
        </div>
    </div>
</div>