<div class="nominee-details-container">
    <div class="section-header">
        <span>
            <i class="fas fa-user"></i> Nominee Details
        </span>
        <img src="../../../assets/Button.png" alt="Edit">
    </div>

    <div class="details-box">
        <div class="detail-item">
            <span class="label">Name</span>
            <span class="value">Jhon</span>
        </div>
        <div class="detail-item">
            <span class="label">Relation</span>
            <span class="value">Father</span>
        </div>
        <div class="detail-item">
            <span class="label">Date of Birth</span>
            <span class="value">15 Nov 1986</span>
        </div>
        <div class="detail-item">
            <span class="label">Contact Number</span>
            <span class="value">9154932180</span>
        </div>
        <div class="detail-item">
            <span class="label">Email Id</span>
            <span class="value">jhongmaim.com</span>
        </div>
        <div class="detail-item">
            <span class="label">Address</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">Aadhar Number</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">PAN</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">Dependent</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">Nominee Share in %</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">Bank Name</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">Account Number</span>
            <span class="value">-------</span>
        </div>
        <div class="detail-item">
            <span class="label">IFSC Code</span>
            <span class="value">-------</span>
        </div>
    </div>
</div>